.footer {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    background-color: rgb(58, 0, 167);
    padding: 10px;
}

.social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;
}
.contacts {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.footer a {
    font-size: 1.5rem;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.footer a:hover,
.footer a:active {
    color: orange;
}

@media (max-width: 700px) {
    .footer {
        grid-template-columns: 1fr;
    }
    .contacts {
        justify-items: center;
    }
}

@media (max-width: 400px) {
    .footer {
        grid-template-columns: 1fr;
        justify-items: self-start;
        padding-left: 40px;
    }
    .social {
        grid-template-columns: 1fr;
        width: auto;
        justify-items: self-start;
    }
    .contacts {
        width: auto;
        justify-items: self-start;
    }

    .footer a {
        font-size: 1.2rem;
    }
}